@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styling scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    /* Atur lebar scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
    /* Hapus latar belakang scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(211, 211, 211);
    /* Warna thumb scrollbar */
    border-radius: 6px;
    /* Bentuk thumb scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: gray;
    /* Warna thumb scrollbar saat dihover */
}

.bg-chat {
    background: linear-gradient(to bottom right, rgba(158, 50, 247, 0.5), rgba(203, 134, 253, 0.5)), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%235800e5' fill-opacity='0.04' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
}

/* :root, .light, .light-theme {
    --purple-1: #fbfafe;
    --purple-2: #f9f5ff;
    --purple-3: #f4eaff;
    --purple-4: #eedeff;
    --purple-5: #e6cfff;
    --purple-6: #dcbeff;
    --purple-7: #cea6ff;
    --purple-8: #be85ff;
    --purple-9: #9e32f7; default
    --purple-10: #8f25e3;
    --purple-11: #8615d7;
    --purple-12: #460774;
  
    --purple-a1: #fbfaffe8;
    --purple-a2: #f9f5ff;
    --purple-a3: #f4eaff;
    --purple-a4: #eedeff;
    --purple-a5: #e6cfff;
    --purple-a6: #dcbeff;
    --purple-a7: #cea6ff;
    --purple-a8: #be85ff;
    --purple-a9: #0000ff46;
    --purple-a10: #7d00e1da;
    --purple-a11: #7b00d5ea;
    --purple-a12: #410070f8;
  
    --purple-contrast: #fff;
    --purple-surface: #f9f3ffcc;
    --purple-indicator: #9e32f7;
    --purple-track: #9e32f7;
  }
  
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root, .light, .light-theme {
        --purple-1: oklch(98.7% 0.006 303.4);
        --purple-2: oklch(97.5% 0.013 303.4);
        --purple-3: oklch(95.2% 0.035 303.4);
        --purple-4: oklch(92.5% 0.057 303.4);
        --purple-5: oklch(89.2% 0.079 303.4);
        --purple-6: oklch(85.1% 0.103 303.4);
        --purple-7: oklch(79.5% 0.135 303.4);
        --purple-8: oklch(72.3% 0.179 303.4);
        --purple-9: oklch(58% 0.267 303.4);
        --purple-10: oklch(53.6% 0.256 303.4);
        --purple-11: oklch(50.7% 0.254 303.4);
        --purple-12: oklch(32.2% 0.161 303.4);
  
        --purple-a1: color(display-p3 0.984 0.98 1 / 0.9);
        --purple-a2: color(display-p3 0.973 0.957 1 / 0.9);
        --purple-a3: color(display-p3 0.941 0.898 1 / 0.8);
        --purple-a4: color(display-p3 0.906 0.843 1 / 0.8);
        --purple-a5: color(display-p3 0.843 0.737 0.996 / 0.7);
        --purple-a6: color(display-p3 0.698 0.498 0.996 / 0.5);
        --purple-a7: color(display-p3 0.482 0.149 1 / 0.4);
        --purple-a8: color(display-p3 0.075 0 0.996 / 0.3);
        --purple-a9: color(display-p3 0.451 0 0.925 / 0.773);
        --purple-a10: color(display-p3 0.416 0 0.839 / 0.82);
        --purple-a11: color(display-p3 0.404 0 0.788 / 0.871);
        --purple-a12: color(display-p3 0.212 0 0.408 / 0.95);
  
        --purple-contrast: #fff;
        --purple-surface: color(display-p3 0.973 0.953 1 / 0.8);
        --purple-indicator: oklch(58% 0.267 303.4);
        --purple-track: oklch(58% 0.267 303.4);
      }
    }
  } */